* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Sweet-Chocolate';
    src: url(../fonts/Sweet-Chocolate.otf);
}

@font-face {
    font-family: 'CrosstenSoft Black';
    src: url(../fonts/CrosstenSoft-Black.otf);
}

@font-face {
    font-family: 'CrosstenSoft Bold';
    src: url(../fonts/CrosstenSoft-Bold.otf);
}

@font-face {
    font-family: 'CrosstenSoft Book';
    src: url(../fonts/CrosstenSoft-Book.otf);
}

@font-face {
    font-family: 'CrosstenSoft ExtraBold';
    src: url(../fonts/CrosstenSoft-Extrabold.otf);
}

@font-face {
    font-family: 'CrosstenSoft Extralight';
    src: url(../fonts/CrosstenSoft-Extralight.otf);
}

@font-face {
    font-family: 'CrosstenSoft Medium';
    src: url(../fonts/CrosstenSoft-Medium.otf);
}

@font-face {
    font-family: 'Heyhoo';
    src: url(../fonts/Heyhoo.otf);
}

.main-guest-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../assets/fondo.png');
    background-size: cover;
    padding: 20px;
}

.forgot-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/fondo-items-welcome.png');
    background-size: cover;
    padding: 20px;
    height: 100%;
    width: 100%;
}

.forgot-password-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    padding: 20px;
}

.forgot-password-title {
    font-family: 'CrosstenSoft Medium';
    font-size: 1.5rem;
    text-align: left;
    width: 100%;
    color: #000;
    margin-bottom: 20px;
}

.forgot-password-title p {
    margin-bottom: 10px;
    font-family: 'Heyhoo';
    color: #B5579E;
}

.forgot-password-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.forgot-password-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.forgot-password-inputs input {
    width: 100%;
    padding: 13px;
    border: 1px solid #ccc;
    border-radius: 2px 20px 2px 2px;
    font-size: 1rem;
    background-color: #fff;
    margin-bottom: 10px;
    color: #333;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.forgot-password-inputs label {
    font-family: 'Heyhoo';
    font-size: 1.1rem;
    color: #000;
    margin-bottom: 5px;
    align-self: flex-start;
}

.forgot-password-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.forgot-password-buttons button {
    padding: 10px 40px;
    font-size: 2.3rem;
    background-color: #FF6700;
    color: #000;
    border: none;
    border-radius: 5px;
    font-family: 'Sweet-Chocolate';
    cursor: pointer;
    transition: background-color 0.3s;
}

.forgot-password-buttons button:hover {
    background-color: #F9F96F;
}

/* Mobile media query */
@media (max-width: 768px) {
    .forgot-password-items {
        width: 90%;
    }

    .forgot-password-title {
        font-size: 1.2rem;
    }

    .forgot-password-buttons button {
        font-size: 1.8rem;
    }
}