.main-ganadores-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100dvh;
}

.ganadores-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url('../assets/fondo-items-ganadores.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ganadores-container h1 {
    font-family: 'Heyhoo';
    font-size: 2.3rem;
    margin-top: 10%;
    margin-bottom: -100px;
    width: 33%;
    text-align: center;
    font-weight: lighter;
}

.ganadores-table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin-top: 100px;
    padding: 20px;
}

.ganadores-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.ganador {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 10px;
}

.ganador-number {
    font-family: 'Sweet-Chocolate';
    color: #FF6700;
    font-size: 3rem;
    text-align: center;
    font-weight: lighter;
}

.ganador-name {
    background-color: #fff;
    font-family: 'Heyhoo';
    text-transform: lowercase;
    font-weight: lighter;
    font-size: 1.6rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    width: 67%;
    text-align: center;
}

.pagination-links-ganadores {
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Heyhoo';
}

.pagination-links-ganadores a {
    color: #B5579E;
    text-decoration: none;
    font-size: 1.7rem;
    padding: 5px 10px;
    border: 1px solid #B5579E;
    border-radius: 5px;
    margin: 0 5px;
}

.pagination-links-ganadores a:hover {
    background-color: #f0f0f0;
}

/* Laptop media query */
@media screen and (max-width: 1366px) {

    .ganadores-container h1 {
        font-size: 2rem;
        margin-top: 12%;
        margin-bottom: -100px;
        width: 33%;
        text-align: center;
        font-weight: lighter;
    }
}

/* Mobile media query */
@media screen and (max-width: 768px) {
    .ganador-number {
        font-size: 2.5rem;
    }

    .ganador-name {
        font-size: 1.2rem;
    }
}