.main-ganadores-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100dvh;
}

.ganadores-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url('../assets/fondo-items-ganadores.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ganadores-container h1 {
    font-family: 'Heyhoo';
    font-size: 3rem;
    text-align: center;
    font-weight: lighter;
}

/* Laptop media query */

@media screen and (max-width: 1366px) {
    .ganadores-container h1 {
        font-size: 2.5rem;
    }
}

/* Mobile media query */

@media screen and (max-width: 768px) {
    .ganadores-container h1 {
        font-size: 1.8rem;
    }
}