.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    padding: 25px;
}
.login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url('../assets/fondo-items-welcome.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.login-inputs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-box label {
    font-family: 'CrosstenSoft Bold';
    font-size: 1.3rem;
    color: #000;
    margin-bottom: 5px;
}

.login-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;
    margin-top: -40px;
}

.login-img-container img {
    width: 40%;
    max-width: 600px;
}

.login-input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 2px 20px 2px 2px;
    font-family: 'CrosstenSoft ExtraLight';
    font-size: 1rem;
    background-color: #fff;
    margin-bottom: 10px;
    color: #333;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.login-input:focus {
    border-color: #66afe9;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
    outline: none;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
}

.login-email, .login-password {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 500px;
    margin-bottom: 20px;
}

.bot-logo-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.bot-logo-login img {
    width: 25%;
    max-width: 190px;
}

.login-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
}

.login-remember {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75%;
    gap: 15px;
    padding: 20px 15px;
    margin-top: 20px;
    background-color: #545454;
}

.login-remember p {
    font-family: 'CrosstenSoft Book';
    font-size: 1.3rem;
    color: #fff;
}

.login-remember-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-remember-checkbox input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
}

.login-remember-checkbox label {
    font-family: 'CrosstenSoft Book';
    font-size: 1rem;
    color: #fff;
}

.login-btn {
    background-color: #FF6700;
    border: none;
    padding: 15px 30px;
    font-family: 'Sweet-Chocolate';
    font-size: 2.3rem;
    margin-top: 20px;
    color: #000;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #22C94B;
    color: #000;
}

.sharpie-logo-img {
    position: absolute;
    bottom: 0; 
    left: 0;
}

.sharpie-logo-img img {
    width: 70%;
    height: auto;
}

/* Laptop media query 1366 x 768 */

@media screen and (max-width: 1366px) {

    .login-img-container {
        margin-bottom: 20px;
    }
    .login-img-container img {
        width: 25%;
        margin-top: 10px;
    }

    .login-email, .login-password {
        margin-bottom: 10px;
    }

    .login-input {
        padding: 10px;
        font-size: 0.9rem;
    }

    .login-box label {
        font-size: 1.1rem;
    }

    .login-remember {
        gap: 10px;
        padding: 15px 10px;
        margin-top: 10px;
    }

    .login-remember p {
        font-size: 1.1rem;
    }

    .login-remember-checkbox label {
        font-size: 0.9rem;
    }

    .login-remember-checkbox input[type="checkbox"] {
        width: 15px;
        height: 15px;
    }

    .sharpie-logo-img img {
        width: 60%;
    }


    .bot-logo-login img {
        width: 12%;
    }

    .login-btn {
        padding: 5px 15px;
        margin-top: 10px;
        font-size: 2rem;
    }
}