.swal2-popup {
    font-family: 'Heyhoo', sans-serif;
    background-color: #F9F96F !important;
    color: #000 !important;
}

.swal2-styled.swal2-confirm {
    background-color: #FF36D4 !important;
    color: #000 !important;
    font-family: 'Heyhoo', sans-serif;
}

.swal2-html-container {
    font-family: 'CrosstenSoft Extralight', sans-serif;
    color: #000 !important;
}

div:where(.swal2-icon).swal2-success {
    display: none !important;
}

/* Welcome popup */

#welcome_popup_id .swal2-popup {
    color: #FF36D4 !important;
}