.main-registro-compra-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.registro-compra-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-image: url('../assets/fondo-items-welcome.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-img-cont-mobile {
    display: none;
}

.main-info-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    margin-left: 5%;
    margin-top: 330px;
}

.main-info-cont h1 {
    font-family: 'Heyhoo';
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 5px;
    margin-top: 20px;
    color: #B5579E;
    text-transform: uppercase;
}

.info-text-cajas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.info-text-dibujo {
    width: 100%;
    font-family: 'CrosstenSoft Extralight';
    display: flex;
    justify-content: left;
}

.img-logos-bonos{
    width: 90%;
}

.img-logo-cajas{
    width: 50%;
    max-width: 300px;
}

.info-text-cont {
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 100%;
    font-family: 'CrosstenSoft Extralight';
    font-size: 1.2rem;
    line-height: 1.4;
    margin-bottom: 5px;
}


.main-fotos-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 250px;
}

.fotos-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.foto-factura-cont, .foto-portada-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.fotos-label {
    margin-bottom: 20px;
    font-family: 'Sweet-Chocolate';
    font-size: 2.6rem;
    color: #000;
    text-transform: uppercase;
}

.foto-factura-background, .foto-portada-background {
    padding: 20px;
    width: 100%;
    height: 630px;
    max-width: 80%;
}

.foto-factura-background {
    background-color: #FF6700;
}

.foto-portada-background {
    background-color: #1542E5;
}

.disclaimer-text {
    margin-top: 5px;
    font-family: 'Heyhoo';
    font-size: 1rem;
}

.custom-file-upload {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 15px;
    text-align: center;
    line-height: 200px;
    font-size: 16px;
    background-image: url(../assets/subida-img.png);
    background-size: 25%; 
    background-color: #D9D9D9;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
}

.custom-file-upload:hover {
    border-color: #aaa;
}

.text-invalid-factura, .text-invalid-portada {
    color: red;
    margin-top: 5px;
    font-family: 'Heyhoo';
    font-size: 1.1rem;
}

.registrar-compra-btn {
    text-align: center;
    margin-top: 50px;
}

.registrar-compra-btn button {
    padding: 10px 50px;
    font-size: 2.5rem;
    background-color: #F9F96F;
    color: #000;
    border: none;
    border-radius: 5px;
    font-family: 'Sweet-Chocolate';
    cursor: pointer;
    transition: background-color 0.3s;
}

.registrar-compra-btn button:hover {
    background-color: #FF6700;
}

/* Laptop media query 1366 x 768 */

@media screen and (max-width: 1366px) { 

    .foto-factura-background, .foto-portada-background {
        height: 500px;
    }

}

/* Mobile media query */

@media screen and (max-width: 768px) { 

    .main-registro-compra-container {
        height: 100%;
    }

    .main-img-cont-mobile {
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: row;
        overflow: hidden;
        align-items: center;
        margin-top: 220px;
    }

    .main-img-cont-mobile img {
        width: 26%;
        height: auto;
    }

    .registro-compra-container {
        flex-direction: column;
        padding: 10px;
    }

    .main-info-cont {
        width: 80%;
        margin-left: 0;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .main-info-cont h1 {
        font-size: 1.2rem;
    }

    .main-fotos-cont {
        margin-top: 10px;
        margin-bottom: 40px;
    }

    .info-text-cont {
        width: 100%;
        font-size: 0.9rem;
    }

    .img-logos-bonos{
        width: 100%;
    }
    
    .img-logo-cajas{
        margin-top: 10px;
    }


    .fotos-cont {
        flex-direction: column;
        gap: 20px;
    }

    .foto-factura-cont, .foto-portada-cont {
        width: 100%;
    }

    .fotos-label {
        font-size: 1.8rem;
    }

    .foto-factura-background, .foto-portada-background {
        height: 300px;
    }

    .custom-file-upload {
        line-height: 100px;
    }

    .text-invalid-factura, .text-invalid-portada {
        font-size: 0.9rem;
    }

    .registrar-compra-btn {
        margin-top: 25px;
    }

    .registrar-compra-btn button {
        padding: 10px 40px;
        font-size: 1.8rem;
    }

    .info-text-cajas {
        margin-top: 25px;
        margin-bottom: 25px;
    }

}