.main-registro-compra-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100dvh;
}

.registro-compra-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-image: url('../assets/fondo-items-welcome.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-info-cont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin-left: 100px;
}

.main-info-cont h1 {
    font-family: 'CrosstenSoft Bold';
    font-size: 1.7rem;
    color: #000;
    text-transform: uppercase;
}

.info-text-cont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    width: 70%;
    margin-top: 20px;
    font-family: 'CrosstenSoft Black';
    font-size: 1.2rem;
    line-height: 1.4;
}


.main-fotos-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 100px;
}

.fotos-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

.foto-factura-cont, .foto-portada-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.fotos-label {
    margin-bottom: 20px;
    font-family: 'Sweet-Chocolate';
    font-size: 2.6rem;
    color: #000;
    text-transform: uppercase;
}

.foto-factura-background, .foto-portada-background {
    padding: 20px;
    width: 100%;
    height: 500px;
    max-width: 400px;
}

.foto-factura-background {
    background-color: #FF6700;
}

.foto-portada-background {
    background-color: #1542E5;
}

.custom-file-upload {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 15px;
    text-align: center;
    line-height: 200px;
    font-size: 16px;
    background-color: #D9D9D9;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.custom-file-upload:hover {
    border-color: #aaa;
}

.text-invalid-factura, .text-invalid-portada {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.registrar-compra-btn {
    text-align: center;
    margin-top: 50px;
}

.registrar-compra-btn button {
    padding: 10px 50px;
    font-size: 2.5rem;
    background-color: #F9F96F;
    color: #000;
    border: none;
    border-radius: 5px;
    font-family: 'Sweet-Chocolate';
    cursor: pointer;
    transition: background-color 0.3s;
}

.registrar-compra-btn button:hover {
    background-color: #FF6700;
}

/* Laptop media query 1366 x 768 */

@media screen and (max-width: 1366px) { 

    .main-info-cont {
        width: 60%;
        margin-left: 50px;
        margin-top: 50px;
    }

    .main-info-cont h1 {
        font-size: 1.4rem;
    }

    .info-text-cont {
        width: 80%;
        font-size: 0.9rem;
    }

    .main-fotos-cont {
        margin-top: 80px;
    }

    .fotos-cont {
        gap: 20px;
    }

    .foto-factura-cont, .foto-portada-cont {
        width: 100%;
    }

    .fotos-label {
        font-size: 2.3rem;
    }

    .foto-factura-background, .foto-portada-background {
        height: 350px;
    }

    .custom-file-upload {
        line-height: 150px;
    }

    .text-invalid-factura, .text-invalid-portada {
        font-size: 12px;
    }

    .registrar-compra-btn {
        margin-top: 10px;
    }

    .registrar-compra-btn button {
        padding: 10px 40px;
        font-size: 2rem;
    }

}