.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 25px;
}
.register-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 50px;
    gap: 100px;
    background-image: url('../assets/fondo-items-welcome.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.info-register-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 33%;
    height: 100%;
}

.register-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.register-img-container img {
    width: 70%;
    max-width: 500px;
}

.register-info-text {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.register-info-text h2 {
    font-size: 1.5rem;
    font-family: 'Heyhoo';
    color: #FF6700;
    margin-bottom: 10px;
}

.register-info-text p {
    font-size: 1.3rem;
    font-family: 'Heyhoo';
    color: #000;
}

.register-text-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.register-text-logo img {
    display: relative;
    width: 130%;
}

.register-bot-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 50px;
}

.register-bot-logo img {
    width: 25%;
    max-width: 600px;
}

.register-inputs-container  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.registro-label {
    font-family: 'Heyhoo';
    font-size: 0.9rem;
    color: #000;
    margin: 10px 0;
}

.registro-label-check {
    font-family: 'Heyhoo';
    font-size: 0.9rem;
    color: #000;
    margin: 10px 0;
}

.registro-input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 2px 20px 2px 2px;
    /* font-family: 'Heyhoo'; */
    font-size: 0.85rem;
    background-color: #fff;
    color: #333;
    margin-bottom: 20px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.registro-input:focus {
    border-color: #66afe9;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
    outline: none;
}

.input-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.input-cont {
    flex: 1;
}

.checks-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.check-item {
    display: flex;
    align-items: center;
}

.check-item input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.register-btn {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

.register-btn-enviar {
    background-color: #FF36D4;
    color: #000;
    padding: 10px 50px;
    font-size: 2rem;
    font-family: 'Sweet-Chocolate';
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.register-btn-enviar:hover {
    background-color: #4DB04B;
}

.text-invalid {
    color: red;
    font-family: 'Heyhoo';
    font-size: 0.8rem;
    margin-top: -15px;
    margin-bottom: 5px;
}

.password-container {
    position: relative;
    width: 100%;
}

.registro-input {
    width: 100%;
    padding-right: 40px; /* Espacio para el icono */
}

.toggle-password {
    position: absolute;
    top: 45%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Laptop media query 1366 x 768 */
@media screen and (max-width: 1366px) {
    .register-img-container img {
        width: 50%;
    }

    .register-info-text h2 {
        font-size: 1.3rem;
    }

    .register-info-text p {
        font-size: 0.9rem;
    }

    .registro-label {
        font-size: 0.8rem;
    }

    .registro-input {
        font-size: 0.7rem;
        padding: 5px;
        margin-bottom: 2px;
    }

    .registro-label-check {
        font-size: 0.7rem;
        margin: 0;
        margin-top: 2px;
    }

    .check-item input[type="checkbox"] {
        width: 12px;
        height: 12px;
    }

    .register-btn {
        margin-top: 10px;
    }

    .register-btn-enviar {
        padding: 10px 30px;
        font-size: 1.3rem;
    }

    .register-text-logo img {
        width: 125%;
    }
    

    .check-item {
        margin-top: 10px;
    }

    .text-invalid {
        color: red;
        font-family: 'Heyhoo';
        font-size: 0.5rem;
        margin-top: 0;
        margin-bottom: 2px;
    }

    .password-container {
        position: relative;
        width: 100%;
    }
    
    .registro-input {
        width: 100%;
        padding-right: 40px; 
    }
    
    .toggle-password {
        top: 62%;
    }
}

/* Mobile media query  */
@media screen and (max-width: 768px) {

    .register-container {
        height: 100%;
        padding: 10px;
    }

    .register-box {
        flex-direction: column;
        gap: 20px;
        padding: 0;
        height: 100%;
    }

    .info-register-container {
        justify-content: center;
        gap: 25px;
        height: auto;
        margin-bottom: 10px;
    }

    .info-register-container {
        width: 100%;
    }

    .register-img-container {
        margin-bottom: 0;
        margin-top: 10px;
    }

    .register-img-container img {
        width: 60%;
        margin-top: 10px;
    }
    .register-bot-logo {
        display: none;
    }

    .register-info-text {
        width: 80%;
    }

    .register-info-text h2 {
        font-size: 1.2rem;
    }

    .register-info-text p {
        font-size: 1rem;
    }

    .register-text-logo {
        bottom: 0;
        display: none;
        
    }

    .register-text-logo img {
        width: 100%;
        margin-left: -300px;
    }

    .register-bot-logo img {
        width: 40%;
    }

    .register-inputs-container {
        width: 80%;
    }

    .registro-label {
        font-size: 0.8rem;
    }

    .registro-input {
        font-size: 0.7rem;
        padding: 5px;
        margin-bottom: 2px;
    }

    .registro-label-check {
        font-size: 0.7rem;
        margin: 0;
        margin-top: 2px;
    }

    .check-item input[type="checkbox"] {
        width: 12px;
        height: 12px;
    }

    .register-btn-enviar {
        padding: 10px 30px;
        font-size: 1.3rem;
    }

    .register-btn {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .text-invalid {
        color: red;
        font-family: 'Heyhoo';
        font-size: 0.5rem;
        margin-top: 0;
        margin-bottom: 2px;
    }

    .password-container {
        position: relative;
        width: 100%;
    }
    
    .registro-input {
        width: 100%;
        padding-right: 40px; 
    }
    
    .toggle-password {
        top: 65%;
    }
}