.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 25px;
}
.register-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 100px;
    background-image: url('../assets/fondo-items-welcome.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.info-register-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 33%;
    height: 100%;
}

.register-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.register-img-container img {
    width: 70%;
    max-width: 500px;
}

.register-info-text {
    display: flex;
    font-family: 'CrosstenSoft Bold';
    flex-direction: column;
    width: 100%;
}

.register-info-text h2 {
    font-size: 1.7rem;
    color: #FF6700;
    margin-bottom: 10px;
}

.register-info-text p {
    font-size: 1.3rem;
    color: #000;
}

.register-text-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.register-text-logo img {
    width: 100%;
}

.register-bot-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 50px;
}

.register-bot-logo img {
    width: 25%;
    max-width: 600px;
}

.register-inputs-container  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.registro-label {
    font-family: 'CrosstenSoft Bold';
    font-size: 1rem;
    color: #000;
    margin: 10px 0;
}

.registro-label-check {
    font-family: 'CrosstenSoft Extralight';
    font-size: 0.8rem;
    color: #000;
    margin: 10px 0;
}

.registro-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 2px 20px 2px 2px;
    font-family: 'CrosstenSoft ExtraLight';
    font-size: 0.85rem;
    background-color: #fff;
    color: #333;
    margin-bottom: 20px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.registro-input:focus {
    border-color: #66afe9;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
    outline: none;
}

.input-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.input-cont {
    flex: 1;
}

.checks-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.check-item {
    display: flex;
    align-items: center;
}

.check-item input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.register-btn {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

.register-btn-enviar {
    background-color: #FF36D4;
    color: #000;
    padding: 10px 50px;
    font-size: 2rem;
    font-family: 'Sweet-Chocolate';
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.register-btn-enviar:hover {
    background-color: #4DB04B;
}

.text-invalid {
    color: red;
    font-family: 'CrosstenSoft ExtraLight';
    font-size: 0.8rem;
    margin-top: -15px;
    margin-bottom: 5px;
}

/* Laptop media query 1366 x 768 */
@media screen and (max-width: 1366px) {
    .register-img-container img {
        width: 50%;
    }

    .register-info-text h2 {
        font-size: 1.3rem;
    }

    .register-info-text p {
        font-size: 0.9rem;
    }

    .registro-label {
        font-size: 0.6rem;
    }

    .registro-input {
        font-size: 0.55rem;
        padding: 5px;
        margin-bottom: 2px;
    }

    .registro-label-check {
        font-size: 0.6rem;
        margin: 0;
        margin-top: 2px;
    }

    .check-item input[type="checkbox"] {
        width: 12px;
        height: 12px;
    }

    .register-btn {
        margin-top: 10px;
    }

    .register-btn-enviar {
        padding: 10px 30px;
        font-size: 1.3rem;
    }

    .check-item {
        margin-top: 10px;
    }

    .text-invalid {
        color: red;
        font-family: 'CrosstenSoft ExtraLight';
        font-size: 0.5rem;
        margin-top: 0;
        margin-bottom: 2px;
    }
}