@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Sweet-Chocolate';
    src: url(../fonts/Sweet-Chocolate.otf);
}

@font-face {
    font-family: 'CrosstenSoft Black';
    src: url(../fonts/CrosstenSoft-Black.otf);
}

@font-face {
    font-family: 'CrosstenSoft Bold';
    src: url(../fonts/CrosstenSoft-Bold.otf);
}

@font-face {
    font-family: 'CrosstenSoft Book';
    src: url(../fonts/CrosstenSoft-Book.otf);
}

@font-face {
    font-family: 'CrosstenSoft ExtraBold';
    src: url(../fonts/CrosstenSoft-Extrabold.otf);
}

@font-face {
    font-family: 'CrosstenSoft Extralight';
    src: url(../fonts/CrosstenSoft-Extralight.otf);
}

@font-face {
    font-family: 'CrosstenSoft Medium';
    src: url(../fonts/CrosstenSoft-Medium.otf);
}

@font-face {
    font-family: 'Heyhoo';
    src: url(../fonts/Heyhoo.otf);
}

body {
    background-image: url('../assets/fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.registro-compra-container, .ganadores-container, .galeria-container {
    margin-top: -200px;
}

.main-ganadores-container, .main-galeria-container, .main-registro-compra-container {
    padding: 0 50px;
}

.bold-text {
    font-family: 'Heyhoo';
    font-weight: bold;
}

/* Mobile media query */

@media screen and (max-width: 768px) {
    .main-ganadores-container, .main-galeria-container, .main-registro-compra-container {
        padding: 0;
    }
}

