* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 15px;
}

.welcome-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-image: url('../assets/fondo-items-welcome.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



.welcome-title {
    font-family: 'Heyhoo';
    font-size: 1.5rem;
}

.welcome-logo {
    display: flex;
    position: absolute;
    justify-content: center;
    top: 0;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
}

.welcome-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    gap: 20px;
}

.info-item {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px; /* Espacio entre la imagen y el texto */
}

.text-info-content {
    font-family: 'Heyhoo';
    font-weight: lighter;
    width: 100%;
    margin-top: 10px;
    font-size: 1.2rem;
}

.info-item img {
    margin-right: 10px;
    width: 70%;
    height: auto;
}

.top-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.top-logo img {
    width: 100%;
    max-width: 500px;
}

.bot-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.bot-logo img {
    width: 9%;
}

.welcome-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.welcome-info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: auto;
    gap: 20px;
    margin-top: 250px;
    margin-left: 50px;

}

.welcome-btn-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    width: 100%;
    margin-top: 20px;
}

.btn-with-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: #f9f9f9;
    border: none;
    border-radius: 5px;
    font-family: 'Sweet-Chocolate';
    font-size: 2rem;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s;
}

#entrar_btn {
    background-color: #FF6700;
}

#entrar_btn:hover {
    background-color: #4DB04B;
}

#registrar_btn {
    background-color: #FF36D4;
}

#registrar_btn:hover {
    background-color: #4DB04B;
}

.select-img {
    margin-top: 15px;
    width: 200px;
    height: auto;
}

.welcome-premios-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 150px;
}

.welcome-premios-img img {
    width: 100%;
}

.welcome-legales {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.welcome-legales p {
    font-family: 'Heyhoo';
    font-size: 0.6rem;
    color: #000;
    text-align: center;
}

/* Laptop media query 1366 x 768 */

@media screen and (max-width: 1366px) {

    .welcome-logo {
        margin-top: 25px;
    }

    .top-logo img {
        width: 28%;
    }

    .bot-logo img {
        width: 12%;
    }

    .welcome-title {
        font-size: 1.2rem;
    }

    .text-info-content {
        font-size: 0.9rem;
    }

    .select-img {
        width: 150px;
    }

    .welcome-premios-img img {
        width: 90%;
    }
    .welcome-info-text {
        width: 50%;
        margin-left: 0;
        margin-top: 180px;
    }

    .info-item img {
        width: 30%;
    }

    .welcome-btn {
        width: 150px;
        height: 40px;
        font-size: 1.5rem;
    }
}

/* Mobile media query */

@media screen and (max-width: 768px) {

    body {
        background-repeat: repeat !important;
    }

    .welcome-container {
        padding: 15px;
        height: 100%;
    }


    .welcome-logo {
        margin-top: 50px;
        position: relative;
    }

    .top-logo img {
        width: 75%;
    }

    .bot-logo img {
        width: 23%;
    }

    .welcome-info-container {
        flex-direction: column;
    }

    .welcome-info-text {
        width: 100%;
        margin-left: 0;
        margin-top: 30px;
    }

    .welcome-btn-container {
        gap: 20px;
        z-index: 1000;
    }

    .welcome-btn {
        font-size: 1.8rem;
    }

    .welcome-premios-img {
        width: 100%;
        margin-top: 5px;
    }

    .welcome-premios-img img {
        width: 100%;
        margin-top: 0;
    }

    .info-item img {
        width: 45%;
        margin-right: 0;
    }
}